/*Laptop Screens*/
@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }
}

/*Mobile*/
@media (max-width: 450px) {
    html {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    background-image: url(snake_bg.png);
    /*background-size: cover;*/

    /*center body*/
    margin: 0 auto;

    /*body text*/
    color: white;
    font-size: 1rem;

    /*prevent scroll on page*/
     overflow: hidden;

    /*prevent cursor highlight*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    /*width: 100vw;*/
    height: auto;
    display: block;
    /*filter: blur(20px);*/
    overflow: clip;
}

.gameField{
    /*Make canvas fit screen*/
    width: 50vh;
    height: 50vh;
    position: relative;
    left: 0;
    top: 0;

    background: black;

    /* url(https://img.freepik.com/premium-vector/cute-pastel-green-checkerboard-checkered-gingham-plaid-tartan-pattern-background-wallpaper_565280-454.jpg?w=750)!important; */
    border-radius: 1rem;
    border: 0.25rem solid black;
    color: white;
    /*width: 40rem;*/
}

.hidden{
    filter: blur(4px) saturate(70%);
    animation-name: confetti;
    animation: infinite;
}

/*.fieldsan{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    display: block;*/
/*    location: relative;*/
/*    left: calc(50% - 250px); !*center the field*!*/
/*    visibility: visible;*/
/*    border: 5px solid black;*/
/*    background-color: aquamarine;*/
/*}*/

.alert{
    display: block;
    text-align: center;
    font-weight: bold;
}
#highScore{
    display:inline-block;
}
#score{
    display: inline;
}

.h1{
    text-decoration: underline !important;
    position: relative;
    top: 0;
}

#ui_buttons{
    position: static;
    display: inline-block;
}
#ai_buttons{
    position: static;
    display: inherit;
    right: 0;
}

#ai_buttons button{
    display: inline-block;
}

button{
    display: inline-block;
    margin: 0.3rem;
    background-color: lavender;
    font-variant-caps: all-small-caps;
}

button:hover{
    color: blueviolet;
    transform: scale(1.05);
}

button:active {
    color: blueviolet;
    transform: scale(0.95);
}
